/**
 *
 * CANADA PACKAGE BUBBLES
 *
 */
.sxmcan-sirius-allaccess-en,
.sxmcan-sirius-allaccess-ff-en,
.sxmcan-sirius-mostlymusic-en,
.sxmcan-sirius-premier-en,
.sxmcan-sirius-select-en,
.sxmcan-sirius-select-ff-en,
.sxmcan-sirius-selectplus-en,
.sxmcan-sirius-streaming-en,
.sxmcan-sirius-allaccess-ff-fr,
.sxmcan-sirius-allaccess-fr,
.sxmcan-sirius-mostlymusic-fr,
.sxmcan-sirius-premier-fr,
.sxmcan-sirius-select-ff-fr,
.sxmcan-sirius-select-fr,
.sxmcan-sirius-selectplus-fr,
.sxmcan-sirius-streaming-fr,
.sxmcan-sxm-allaccess-en,
.sxmcan-sxm-allaccess-ff-en,
.sxmcan-sxm-mostlymusic-en,
.sxmcan-sxm-premier-en,
.sxmcan-sxm-select-en,
.sxmcan-sxm-select-ff-en,
.sxmcan-sxm-selectplus-en,
.sxmcan-sxm-streaming-en,
.sxmcan-sxm-allaccess-en_360L,
.sxmcan-sxm-allaccess-ff-en_360L,
.sxmcan-sxm-allaccess-ff-fr,
.sxmcan-sxm-allaccess-fr,
.sxmcan-sxm-mostlymusic-fr,
.sxmcan-sxm-premier-fr,
.sxmcan-sxm-select-ff-fr,
.sxmcan-sxm-select-fr,
.sxmcan-sxm-selectplus-fr,
.sxmcan-sxm-streaming-fr,
.sxmcan-sxm-allaccess-ff-fr_360L,
.sxmcan-sxm-allaccess-fr_360L,
.sxmcan-xm-allaccess-en,
.sxmcan-xm-allaccess-ff-en,
.sxmcan-xm-mostlymusic-en,
.sxmcan-xm-premier-en,
.sxmcan-xm-select-en,
.sxmcan-xm-select-ff-en,
.sxmcan-xm-selectplus-en,
.sxmcan-xm-streaming-en,
.sxmcan-xm-allaccess-ff-fr,
.sxmcan-xm-allaccess-fr,
.sxmcan-xm-mostlymusic-fr,
.sxmcan-xm-premier-fr,
.sxmcan-xm-select-ff-fr,
.sxmcan-xm-select-fr,
.sxmcan-xm-selectplus-fr,
.sxmcan-xm-streaming-fr {
  width: 261px;
  height: 65px;
  display: block; }

.sxmcan-sirius-allaccess-en,
.sxmcan-sirius-allaccess-ff-en,
.sxmcan-sirius-mostlymusic-en,
.sxmcan-sirius-premier-en,
.sxmcan-sirius-select-en,
.sxmcan-sirius-select-ff-en,
.sxmcan-sirius-selectplus-en,
.sxmcan-sirius-streaming-en {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../img/sxmcan-sirius-audio-en.png"); }

.sxmcan-sirius-allaccess-en {
  background-position: 0 0%;
  background-size: 100%; }

.sxmcan-sirius-allaccess-ff-en {
  background-position: 0 11.111111%;
  background-size: 100%; }

.sxmcan-sirius-mostlymusic-en {
  background-position: 0 22.222222%;
  background-size: 100%; }

.sxmcan-sirius-premier-en {
  background-position: 0 33.333333%;
  background-size: 100%; }

.sxmcan-sirius-select-en {
  background-position: 0 44.444444%;
  background-size: 100%; }

.sxmcan-sirius-select-ff-en {
  background-position: 0 55.555556%;
  background-size: 100%; }

.sxmcan-sirius-selectplus-en {
  background-position: 0 66.666667%;
  background-size: 100%; }

.sxmcan-sirius-streaming-en {
  background-position: 0 77.777778%;
  background-size: 100%; }

.sxmcan-sirius-allaccess-ff-fr,
.sxmcan-sirius-allaccess-fr,
.sxmcan-sirius-mostlymusic-fr,
.sxmcan-sirius-premier-fr,
.sxmcan-sirius-select-ff-fr,
.sxmcan-sirius-select-fr,
.sxmcan-sirius-selectplus-fr,
.sxmcan-sirius-streaming-fr {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../img/sxmcan-sirius-audio-fr.png"); }

.sxmcan-sirius-allaccess-ff-fr {
  background-position: 0 0%;
  background-size: 100%; }

.sxmcan-sirius-allaccess-fr {
  background-position: 0 11.111111%;
  background-size: 100%; }

.sxmcan-sirius-mostlymusic-fr {
  background-position: 0 22.222222%;
  background-size: 100%; }

.sxmcan-sirius-premier-fr {
  background-position: 0 33.333333%;
  background-size: 100%; }

.sxmcan-sirius-select-ff-fr {
  background-position: 0 44.444444%;
  background-size: 100%; }

.sxmcan-sirius-select-fr {
  background-position: 0 55.555556%;
  background-size: 100%; }

.sxmcan-sirius-selectplus-fr {
  background-position: 0 66.666667%;
  background-size: 100%; }

.sxmcan-sirius-streaming-fr {
  background-position: 0 77.777778%;
  background-size: 100%; }

.sxmcan-sxm-allaccess-en,
.sxmcan-sxm-allaccess-ff-en,
.sxmcan-sxm-mostlymusic-en,
.sxmcan-sxm-premier-en,
.sxmcan-sxm-select-en,
.sxmcan-sxm-select-ff-en,
.sxmcan-sxm-selectplus-en,
.sxmcan-sxm-streaming-en,
.sxmcan-sxm-allaccess-en_360L,
.sxmcan-sxm-allaccess-ff-en_360L {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../img/sxmcan-sxm-audio-en.png"); }

.sxmcan-sxm-allaccess-en {
  background-position: 0 0%;
  background-size: 100%; }

.sxmcan-sxm-allaccess-ff-en {
  background-position: 0 11.111111%;
  background-size: 100%; }

.sxmcan-sxm-mostlymusic-en {
  background-position: 0 22.222222%;
  background-size: 100%; }

.sxmcan-sxm-premier-en {
  background-position: 0 33.333333%;
  background-size: 100%; }

.sxmcan-sxm-select-en {
  background-position: 0 44.444444%;
  background-size: 100%; }

.sxmcan-sxm-select-ff-en {
  background-position: 0 55.555556%;
  background-size: 100%; }

.sxmcan-sxm-selectplus-en {
  background-position: 0 66.666667%;
  background-size: 100%; }

.sxmcan-sxm-streaming-en {
  background-position: 0 77.777778%;
  background-size: 100%; }

.sxmcan-sxm-allaccess-en_360L {
  background-position: 0 88.888889%;
  background-size: 100%; }

.sxmcan-sxm-allaccess-ff-en_360L {
  background-position: 0 100%;
  background-size: 100%; }

.sxmcan-sxm-allaccess-ff-fr,
.sxmcan-sxm-allaccess-fr,
.sxmcan-sxm-mostlymusic-fr,
.sxmcan-sxm-premier-fr,
.sxmcan-sxm-select-ff-fr,
.sxmcan-sxm-select-fr,
.sxmcan-sxm-selectplus-fr,
.sxmcan-sxm-streaming-fr,
.sxmcan-sxm-allaccess-ff-fr_360L,
.sxmcan-sxm-allaccess-fr_360L {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../img/sxmcan-sxm-audio-fr.png"); }

.sxmcan-sxm-allaccess-ff-fr {
  background-position: 0 0%;
  background-size: 100%; }

.sxmcan-sxm-allaccess-fr {
  background-position: 0 11.111111%;
  background-size: 100%; }

.sxmcan-sxm-mostlymusic-fr {
  background-position: 0 22.222222%;
  background-size: 100%; }

.sxmcan-sxm-premier-fr {
  background-position: 0 33.333333%;
  background-size: 100%; }

.sxmcan-sxm-select-ff-fr {
  background-position: 0 44.444444%;
  background-size: 100%; }

.sxmcan-sxm-select-fr {
  background-position: 0 55.555556%;
  background-size: 100%; }

.sxmcan-sxm-selectplus-fr {
  background-position: 0 66.666667%;
  background-size: 100%; }

.sxmcan-sxm-streaming-fr {
  background-position: 0 77.777778%;
  background-size: 100%; }

.sxmcan-sxm-allaccess-ff-fr_360L {
  background-position: 0 88.888889%;
  background-size: 100%; }

.sxmcan-sxm-allaccess-fr_360L {
  background-position: 0 100%;
  background-size: 100%; }

.sxmcan-xm-allaccess-en,
.sxmcan-xm-allaccess-ff-en,
.sxmcan-xm-mostlymusic-en,
.sxmcan-xm-premier-en,
.sxmcan-xm-select-en,
.sxmcan-xm-select-ff-en,
.sxmcan-xm-selectplus-en,
.sxmcan-xm-streaming-en {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../img/sxmcan-xm-audio-en.png"); }

.sxmcan-xm-allaccess-en {
  background-position: 0 0%;
  background-size: 100%; }

.sxmcan-xm-allaccess-ff-en {
  background-position: 0 11.111111%;
  background-size: 100%; }

.sxmcan-xm-mostlymusic-en {
  background-position: 0 22.222222%;
  background-size: 100%; }

.sxmcan-xm-premier-en {
  background-position: 0 33.333333%;
  background-size: 100%; }

.sxmcan-xm-select-en {
  background-position: 0 44.444444%;
  background-size: 100%; }

.sxmcan-xm-select-ff-en {
  background-position: 0 55.555556%;
  background-size: 100%; }

.sxmcan-xm-selectplus-en {
  background-position: 0 66.666667%;
  background-size: 100%; }

.sxmcan-xm-streaming-en {
  background-position: 0 77.777778%;
  background-size: 100%; }

.sxmcan-xm-allaccess-ff-fr,
.sxmcan-xm-allaccess-fr,
.sxmcan-xm-mostlymusic-fr,
.sxmcan-xm-premier-fr,
.sxmcan-xm-select-ff-fr,
.sxmcan-xm-select-fr,
.sxmcan-xm-selectplus-fr,
.sxmcan-xm-streaming-fr {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../img/sxmcan-xm-audio-fr.png"); }

.sxmcan-xm-allaccess-ff-fr {
  background-position: 0 0%;
  background-size: 100%; }

.sxmcan-xm-allaccess-fr {
  background-position: 0 11.111111%;
  background-size: 100%; }

.sxmcan-xm-mostlymusic-fr {
  background-position: 0 22.222222%;
  background-size: 100%; }

.sxmcan-xm-premier-fr {
  background-position: 0 33.333333%;
  background-size: 100%; }

.sxmcan-xm-select-ff-fr {
  background-position: 0 44.444444%;
  background-size: 100%; }

.sxmcan-xm-select-fr {
  background-position: 0 55.555556%;
  background-size: 100%; }

.sxmcan-xm-selectplus-fr {
  background-position: 0 66.666667%;
  background-size: 100%; }

.sxmcan-xm-streaming-fr {
  background-position: 0 77.777778%;
  background-size: 100%; }

/*-----------  End Canada package bubbles  -----------*/
/*$color__oac-gray-1:
$color__oac-gray-2:
$color__oac-gray-3:*/
/* == these are from bootstrap propper == */
/* == we're not using them because they stipulate screen, which makes it harder to create a print.css ==  */
/* === these have been extracted from the existing styles === */
/* == use them like so ==  */
/* 

@media (min-width: 768px) {

	.foo {
	
	}
	
	.bar {
	
	}	
}

*/
.tl-staging-flag {
  color: orange;
  padding-right: 20px; }

.tl-nav {
  font-family: 'Roboto', sans-serif;
  background: #000;
  color: white; }
  .tl-nav p {
    font-size: 14px; }
  .tl-nav h4 {
    font-size: 12px;
    margin: 8px 0 10px 0; }
    .tl-nav h4.first {
      margin-top: -12px; }

.tl-nav.row {
  width: 100%;
  position: relative; }

.tl-nav .col--main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 10px; }

.tl-nav__top {
  transition: all .5s ease-in-out .3s;
  overflow: hidden;
  text-align: left;
  height: 100px;
  z-index: 10001;
  color: #f2f2f2; }
  .tl-nav__top h1,
  .tl-nav__top .h1 {
    font-size: 24px; }
  .tl-nav__top h3,
  .tl-nav__top .h3 {
    margin-top: 15px;
    font-size: 16px; }
  .tl-nav__top .sr-only {
    display: none; }

/*  these blocks go inside of tl-nav__top  */
.tl-nav__aside {
  float: right;
  margin-right: 20px; }
  .tl-nav__aside > p {
    padding: 18px 0; }

.tl-nav__nav-items {
  list-style-type: none; }
  .tl-nav__nav-items li {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle; }

a.present-link {
  font-size: 16px;
  color: #999;
  position: relative; }
  a.present-link:hover {
    color: white; }
  a.present-link:hover:after {
    content: "Presentation Link";
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    color: white;
    padding-left: 10px;
    width: 130px;
    height: 2em;
    z-index: 100;
    font-size: 12px; }

/*  Begin sidebar  */
/* container for open/close sidebar button*/
.tl-nav__sidebar-action {
  position: relative;
  height: 3em;
  overflow: visible; }

a.tl-nav__menu-button {
  position: absolute;
  right: -43px;
  top: 10px;
  color: black;
  font-size: 25px;
  text-decoration: none;
  text-align: center; }
  a.tl-nav__menu-button small {
    display: block;
    font-size: 10px;
    font-family: "Roboto"; }
  a.tl-nav__menu-button .button-state--closed {
    display: none; }

/* css class gating logic  */
body.open a.tl-nav__menu-button {
  color: white;
  right: 20px; }
body.open .button-state--closed {
  display: inline-block; }
body.open .button-state--open {
  display: none; }
body.open .tl-nav__sidebar {
  left: 0px; }

/*  affix is applied to the sidebar, set height to 100% viewport height and child nav element to 100% height  */
.tl-nav__sidebar.affix {
  top: 0px;
  position: fixed;
  height: calc(100vh); }
  .tl-nav__sidebar.affix nav {
    height: 100%; }

.tl-nav__sidebar {
  position: absolute;
  width: 330px;
  top: 100px;
  left: -330px;
  height: calc(100vh - 100px);
  z-index: 10000;
  transform: translateZ(0);
  transition: left 0.5s cubic-bezier(0.77, 0, 0, 0.77); }
  .tl-nav__sidebar nav {
    position: relative;
    display: inline-block;
    width: 330px;
    box-sizing: content-box;
    margin-bottom: 50px;
    height: calc(100vh - 150px);
    overflow-y: scroll;
    overflow-x: hidden; }
    .tl-nav__sidebar nav::-webkit-scrollbar-track {
      -webkit-box-shadow: none;
      border-radius: 0px;
      background-color: transparent; }
    .tl-nav__sidebar nav::-webkit-scrollbar {
      width: 12px;
      background-color: transparent; }
    .tl-nav__sidebar nav::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
      background-color: rgba(255, 255, 255, 0.2); }

.tl-nav__sidebar .sidebar-close-button {
  color: white;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 5px;
  padding: 8px; }
  .tl-nav__sidebar .sidebar-close-button i {
    font-size: 20px; }

.leaf-nav {
  padding-left: 1em;
  list-style-type: none; }
  .leaf-nav .leaf-nav {
    padding-left: 2em; }
  .leaf-nav a {
    color: #ccc;
    font-size: 14px;
    width: 90%;
    padding: .5em 1.5em;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
    .leaf-nav a:hover, .leaf-nav a.selected {
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
      text-decoration: none; }
    .leaf-nav a.leaf-nav__heading:before, .leaf-nav a.leaf-nav__page-group:before {
      content: "\f0da";
      font-family: "fontawesome";
      display: inline-block;
      vertical-align: middle;
      position: absolute;
      left: 0;
      transition: all .3s;
      width: 1.4em;
      text-align: center; }
  .leaf-nav.expanded a.leaf-nav__heading:before {
    transform: rotateZ(90deg); }
  .leaf-nav a.expanded.leaf-nav__heading:before {
    transform: rotateZ(90deg); }
  .leaf-nav.leaf-nav__level-2, .leaf-nav.leaf-nav__level-3 {
    display: none; }
  .leaf-nav.leaf-nav__level-3 {
    position: relative; }
    .leaf-nav.leaf-nav__level-3:before {
      content: "";
      display: block;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.22);
      position: absolute;
      left: 1em;
      top: 0;
      min-height: 30px; }

/* ===== on / off switch ==== */
span.onoffswitch {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 3em;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 20px;
  line-height: 1em; }

span.onoffswitch {
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width: 3em;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 20px;
  line-height: 1em; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  height: 1em;
  padding: 0;
  line-height: 1em;
  border: 1px solid #999999;
  border-radius: 1em;
  background-color: #292626;
  transition: background-color 0.3s ease-in; }

.onoffswitch-label:before {
  content: "";
  top: 0;
  display: block;
  width: 1em;
  margin: 0px;
  height: 1em;
  background: #E8D8D8;
  position: absolute;
  right: calc(100% - 1em);
  border: 1px solid #999999;
  border-radius: 1em;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #EB2F2F; }

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #EB2F2F; }

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; }

.onoffswitch-label:before {
  content: "";
  top: 0;
  display: block;
  width: 1em;
  margin: 0px;
  height: 1em;
  background: #E8D8D8;
  position: absolute;
  right: calc(100% - 1em);
  border: 1px solid #999999;
  border-radius: 1em;
  transition: all 0.3s ease-in 0s; }

.onoffswitch-checkbox:checked + .onoffswitch-label {
  background-color: #EB2F2F; }

.onoffswitch-checkbox:checked + .onoffswitch-label,
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  border-color: #EB2F2F; }

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
  right: 0px; }

@media print {
  .hidden-print {
    display: none !important; } }
