<main class="sxm-bootstrap oac-flow premier-streaming">
  <!--==================================
  =            Progress Bar            =
  ===================================-->
  <div class="container">
    <!-- Package Steps -->
    <p class="progress-steps text-center">
      Step <span>1</span> of <span>3</span> &nbsp;&nbsp;|&nbsp;&nbsp; <span>Package Details</span>
    </p>
  </div>
  <!--====  End of Progress Bar  ====-->

  <!--=============================
  =            Package            =
  ==============================-->

  <!--<custom-categories></custom-categories>-->
  <!--<custom-genres></custom-genres>-->
  <!--<custom-channels></custom-channels>-->

  <div class="container">
    <!-- Choose your plan -->
    <div class="row text-center main-heading-row">
      <div class="col-sm-12">
        <!-- <h3>{{ program.toUpperCase() }}</h3> -->
        <h3><slot name="header"></slot></h3>
      </div>
    </div>

    <!-- Package Row -->
    <div class="row package-row package-row-double">
      <!-- Package Plan (or Plan-AB) Cards  -->
      <!-- Package Cards -->
      <div *ngFor="let plan of plans" class="{{ plan.cardCssClass }}">
        <div class="panel">
          <div class="panel-heading">
            <h6 class="section-title">{{ plan.package_name.toUpperCase() }}</h6>

            <div class="package-price-row">
              <p class="package-price display-inline-block">
                <span class="h1 text-bold"> ${{ plan.pricePerMonth }} </span>

                <span class="h3 text-bold package-term"> /mo </span>
              </p>

              <p *ngIf="plan.isPromotion" class="display-inline-block original-price large">
                <s>${{ plan.msrpPerMonth }}</s>
              </p>
            </div>

            <p class="text-legal margin-bottom-0" style="height: 30px;">{{ plan.plan_descr }}</p>
          </div>

          <div class="panel-body bg-lightgray">
            <div class="list-unordered list-flush feature-list" [innerHTML]="plan.planDetail"></div>
            <p><a href="https://www.siriusxm.com/channellineup"> View channel lineup </a></p>
            <a
              class="btn btn-lg btn-full-width btn-brightblue package-cta"
              href=""
              (click)="getStream(plan.planId)"
            >
              Get <span>Streaming</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <p><slot name="details"></slot></p>
    </div>
  </div>
  <!--====  End of Package  ====-->

  <div class="content-container">
    <div class="row">
      <div class="column small-12 large-6">
              <div id="floatContainer1" class="input-container">
                      <label for="floatField1">Float Label 1</label>
                      <input type="text" id="floatField1">
                  </div>
              
                  <div id="floatContainer2" class="input-container">
                      <label for="floatField2">Error Input</label>
                      <input type="text" id="floatField2" aria-invalid="true">
           </div>
      </div>
  </div>
  </div>

  <div *ngFor="let channel of channels">{{channel.displayName}}</div>

</main>
